

.responsiveBox {
  display: grid;
  grid-template-columns: repeat(14, 2fr);
  grid-auto-rows: 140px;
  gap: 10px;
}
.delete {
  margin-bottom: 0px;
  margin-top: 250px;
  margin-left: -400px;
  font-style: italic;
  
}
#rowrow{
  background-color: black;
  color: black;
}
#rowrowrow{
  background-color: #1F2A40;
  color: white;
}
.deletebtn {
  
  background-color: transparent;
  font-style: italic;
}

@media (max-width: 768px) {
  .responsiveBox {
    display: inline-block;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 80px;
  }
}
